@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg-1: #191724;
    --dark-bg-2: #1f1d2e;
    --dark-bg-3: #26233a;
    --dark-font-1: #e0def4;
    --dark-font-2: #6e6a86;
    --dark-font-3: #908caa;
    --dark-love: #eb6f92;
    --dark-gold: #f6c177;
    --dark-rose: #ebbcba;
    --dark-pine: #31748f;
    --dark-foam: #9ccfd8;
    --dark-iris: #c4a7e7;
    --dark-highlight-1: #21202e;
    --dark-highlight-2: #403d52;
    --dark-highlight-3: #524f67;

    --light-bg-1: #faf4ed;
    --light-bg-2: #fffaf3;
    --light-bg-3: #f2e9e1;
    --light-font-1: #575279;
    --light-font-2: #797593;
    --light-font-3: #9893a5;
    --light-love: #b4637a;
    --light-gold: #ea9d34;
    --light-rose: #d7827e;
    --light-pine: #286983;
    --light-foam: #56949f;
    --light-iris: #907aa9;
    --light-highlight-1: #f4ede9;
    --light-highlight-2: #dfdad9;
    --light-highlight-3: #cecacd;

    --font-size-title: 5rem;
    --font-size-header: 3rem;
    --font-size-body: 2rem;
    --font-size-body-small: 1.8rem;
    --font-size-body-smaller: 1.6rem;

    --font-family-header: "Poppins", Arial, Helvetica, sans-serif;
    --font-family-body: "Open Sans", Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--dark-bg-1);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--dark-gold);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--dark-bg-1);
}

.light-link-active {
    background-color: var(--light-rose);
    color: var(--light-highlight-1);
}

.dark-link-active {
    background-color: var(--dark-rose);
    color: var(--dark-highlight-1);
}

.light-bg-2 {
    background-color: var(--light-bg-2);
}

.dark-bg-2 {
    background-color: var(--dark-bg-2);
}

.dark-bg-3 {
    background-color: var(--dark-bg-3);
}

.light-bg-3 {
    background-color: var(--light-bg-3);
}

.light-font-1 {
    color: var(--light-font-1);
}

.dark-font-1 {
    color: var(--dark-font-1);
}

.light-hover-link {
    background-color: var(--light-highlight-2);
}

.dark-hover-link {
    background-color: var(--dark-highlight-2);
}

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    background-color: var(--light-bg-1);
    color: var(--light-font-1);
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 2.5rem;

    top: 50%;
    left: calc((100% - 100rem) / 4);
    transform: translate(-50%, -50%);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1.5rem 0.5rem 3rem;
    border-radius: 1rem;
    text-align: right;
    transition: background-color 0.2s ease;
}

.hamburger-container {
    position: fixed;
    top: 2%;
    left: 3%;

    background-color: var(--light-bg-3);
    padding: 2rem 3rem 1rem 2rem;
    border-radius: 1rem;

    display: flex;
    gap: 2rem;
}

.hamburger-link-container {
    display: flex;
    flex-direction: column;
}

.hamburger-link {
    text-decoration: none;
    margin: 0 0 1rem 0;
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0.8rem 0 0 0;

    .burger-part {
        width: 2rem;
        height: 0.2rem;
        border-radius: 2rem;
        transition: background-color 0.4s ease;
    }

    .burger-top-part {
        transform-origin: left center;
        transform: rotate(0deg);
        transition: transform 0.2s ease;
    }

    .burger-middle-part {
        transition:
            transform 0.2s ease,
            opacity 0.2s ease;
    }

    .burger-bottom-part {
        transform-origin: left center;
        transform: rotate(0deg);
        transition: transform 0.2s ease;
    }

    .burger-top-part.close {
        transform-origin: left center;
        transform: rotate(45deg) translate(-1px);
    }

    .burger-middle-part.close {
        opacity: 0;
    }

    .burger-bottom-part.close {
        transform-origin: left center;
        transform: rotate(-45deg) translate(-1px);
    }
}

h1 {
    font-size: var(--font-size-header);
}

.title {
    font-size: var(--font-size-title);
}

p {
    line-height: 2;
}

.home-container,
.about-me-container,
.tech-stack-container,
.projects-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-stack-container,
.projects-container {
    padding: 30vh 0 0 0;
}

#tech-stack,
#projects {
    padding: 5vh 0 0 0;
}

.home-container-spacing,
.about-me-container-spacing,
.tech-stack-container-spacing,
.projects-container-spacing {
    width: 70%;
    max-width: 80rem;
    margin: auto;
}

.about-me-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-left-container {
    max-width: 30%;
}

.profile-picture-container {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-link-container {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-link {
    text-decoration: none;
    padding: 0.5rem 0;
    border-radius: 1rem;
    text-align: center;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
    font-weight: 500;
    font-size: var(--font-size-body-small);
    width: 100%;

    svg {
        height: 2.2rem;
        width: 2.2rem;
        transform: translateY(2px);
    }
}

#github-link,
#linkedin-link {
    width: 48%;
    background-color: var(--dark-foam);

    svg {
        path {
            fill: var(--dark-highlight-1);
        }
    }
}

#resume-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--dark-iris);
    color: var(--dark-highlight-1);

    svg {
        path {
            fill: var(--dark-highlight-1);
        }
    }
}

.about-me-right-container {
    width: 60%;
}

.tech-stack-content-container {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0;
}

.tech-stack-content-item-container {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
    gap: 2rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;

    p {
        font-size: var(--font-size-body-small);
        color: var(--light-font-2);
    }
}

.tech-item-hover-light {
    background-color: var(--light-highlight-1);
}

.tech-item-hover-dark {
    background-color: var(--dark-highlight-1);
}

.technology-logo {
    max-width: 5rem;
}

.project-content-container {
    margin: 2rem 0 0 0;
}

.project-content-item-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 0 0 5rem 0;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;

    p {
        font-size: var(--font-size-body-small);
        color: var(--dark-font-3);
    }
}

.project-item-hover-light {
    background-color: var(--light-bg-2);
}

.project-item-hover-dark {
    background-color: var(--dark-bg-2);
}

.project-image {
    max-width: 20rem;
    height: auto;
}

.copyright {
    font-size: var(--font-size-body-smaller);
    text-align: center;
    margin: 0 0 5rem 0;
}

.project-link-container {
    display: flex;
    margin: 2rem 0 0 0;
    justify-content: flex-end;
    gap: 2rem;
}

.project-link {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    text-align: center;
    color: var(--dark-highlight-1);
    font-size: var(--font-size-body-small);
    transition:
        background-color 0.15s ease,
        color 0.15s ease;
}

.demo-link {
    background-color: var(--dark-foam);
}

.source-link {
    background-color: var(--dark-iris);
}

@media (min-width: 1500px) {
    html::-webkit-scrollbar-thumb:hover {
        background-color: var(--dark-rose);
    }

    .hamburger-menu {
        display: none;
    }

    .demo-link:hover {
        background-color: var(--light-foam);
        color: var(--light-highlight-1);

        svg,
        path {
            fill: var(--light-highlight-1);
        }
    }

    #github-link:hover,
    #linkedin-link:hover {
        background-color: var(--light-foam);

        svg {
            path {
                fill: var(--light-highlight-1);
            }
        }
    }

    #resume-link:hover {
        background-color: var(--light-iris);
        color: var(--light-highlight-1);

        svg {
            path {
                fill: var(--light-highlight-1);
            }
        }
    }

    .source-link:hover {
        background-color: var(--light-iris);
        color: var(--light-highlight-1);

        svg,
        path {
            fill: var(--light-highlight-1);
        }
    }
}

@media (min-width: 1300px) and (max-width: 1499px) {
    html {
        font-size: 56.25%;
    }

    .hamburger-menu {
        display: none;
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: var(--dark-rose);
    }

    .demo-link:hover {
        background-color: var(--light-foam);
        color: var(--light-highlight-1);

        svg,
        path {
            fill: var(--light-highlight-1);
        }
    }

    #github-link:hover,
    #linkedin-link:hover {
        background-color: var(--light-foam);

        svg {
            path {
                fill: var(--light-highlight-1);
            }
        }
    }

    #resume-link:hover {
        background-color: var(--light-iris);
        color: var(--light-highlight-1);

        svg {
            path {
                fill: var(--light-highlight-1);
            }
        }
    }

    .source-link:hover {
        background-color: var(--light-iris);
        color: var(--light-highlight-1);

        svg,
        path {
            fill: var(--light-highlight-1);
        }
    }
}

/* =========== MOBILE ================= */

@media (min-width: 800px) and (max-width: 1299px) {
    html {
        font-size: 56.25%;
    }

    .nav-link-container {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 799px) {
    html {
        font-size: 50%;
    }

    .nav-link-container {
        display: none;
    }

    .about-me-content-container {
        flex-direction: column;
        gap: 5rem;
    }

    .about-me-left-container {
        max-width: 80%;
    }

    .profile-picture-container {
        width: 80%;
        margin: auto;
    }

    .about-me-right-container {
        width: 100%;
    }

    .tech-stack-content-item-container {
        width: 47%;
    }

    .tech-stack-content-item-container:last-child {
        margin: auto;
    }

    .project-content-item-container {
        text-align: center;
        flex-direction: column;
    }
}

@media (max-width: 449px) {
    html {
        font-size: 43.75%;
    }

    .nav-link-container {
        display: none;
    }

    .about-me-content-container {
        flex-direction: column;
        gap: 5rem;
    }

    .about-me-left-container {
        max-width: 100%;
    }

    .profile-picture-container {
        width: 80%;
        margin: auto;
    }

    .about-me-right-container {
        width: 100%;
    }

    .tech-stack-content-item-container {
        width: 100%;
    }

    .project-content-item-container {
        text-align: center;
        flex-direction: column;
    }
}
