/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --bg-1: #191724;
    --bg-2: #1f1d2e;
    --bg-3: #26233a;
    --bg-4: #6e6a86;
    --bg-5: #908caa;

    --danger: #eb6f92;
    --warning: #f6c177;
    --success: #31748f;

    --font-primary: #e0def4;

    --font-size-title: 5rem;
    --font-size-header: 3rem;
    --font-size-body: 2rem;

    --font-family-header: "Poppins", Arial, Helvetica, sans-serif;
    --font-family-body: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    background-color: var(--bg-1);
    color: var(--font-primary);
}

h1 {
    font-size: var(--font-size-header);
}

.title {
    font-size: var(--font-size-title);
}

p {
    line-height: 2;
}

.home-container,
.about-me-container,
.tech-stack-container,
.projects-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-stack-container,
.projects-container {
    margin: 0 0 10rem 0;
}

.home-container-spacing,
.about-me-container-spacing,
.tech-stack-container-spacing,
.projects-container-spacing {
    width: 80%;
    max-width: 100rem;
    margin: auto;
}

.about-me-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-picture {
    width: 30%;
}

.about-me-content {
    width: 60%;
}

.tech-stack-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}

.tech-stack-content-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 3rem auto;
    gap: 2rem;

    p {
        font-size: 1.8rem;
    }
}

.technology-logo {
    width: 10rem;
}

.project-content-container {
    margin: 5rem 0 0 0;
}

.project-content-item-container {
    display: flex;
    gap: 5rem;
    margin: 0 0 10rem 0;
}

.project-image {
    width: 20rem;
}
